.nav-bar{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-bar button {
  background: none;
  border: none;
  color: #eee;
  font-size: 0.7em;
  cursor: pointer;
  transition: color 0.2s;
}

.nav-bar button:hover {
  color: rgb(238, 238, 86);
}

@media (max-width: 600px){
    .nav-bar button{
    font-size: 0.5em;
  }
}

