@import "./colors.css";
@import "./pokecard.css";

@font-face {
  font-family: 'PokemonSolid';
  src: url('./assets/fonts/Pokemon-Solid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --primary-color: rgba(0, 0, 0, 0.7);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



